.h-wrapper{
    background-color: var(--black);
    color: white;
    z-index: 1000;
    
    .h-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: var(--secondary);
    }
    .h-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .h-menu>*:hover{
        cursor: pointer;
    }
}





